/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif
}

li {
    font-weight: 600;
}

a, a:visited {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, time {
    margin: 0 10px 0 10px;
}

ul {
    list-style-type: none;
}

hr {
    height: 10px;
    width: 95%;
    border: 0;
    margin: 0px auto;
    margin-bottom: 15px;
    background-color: #ff6666;
}

.hr-white {
    background-color: #fff;
}

.white {
    color: #FFFFFF;
}

.grey {
    color: #596475;
}

.coral {
    color: #ff6666;
}

/* header */
.header {
    margin: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 110px;
    height: 50px;
}

.menu {
    width: 25px;
}

.big-menu {
    display: none;
}

.big-menu li {
    display: inline;
    margin-top: 10px;
    margin-right: 20px;
}

.big-menu li:last-of-type {
    margin-right: 0;
}

/* footer */
.footer {
    background-color: #596475; 
    justify-content: center;
}
.footer-container {
    padding: 30px 0;
}

.footer-logo {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.footer-list {
    list-style-type: none;
}

.footer-list>li {
    margin: 15px 0;
    text-align: center;
    font-weight: normal;
}

/* HERO */
.hero {
    background-color: #596475;
}

.hero-image {
    height: 450px;
    background-image: url(images/homepage-generic/Homepage-banner.jpg);
    background-size: cover;
    background-position: 40%;
    background-color: #0001;
    background-blend-mode: multiply;
}

.page-title {
    padding: 0 25px;
    padding-top: 220px;
    max-width: 560px;
}

.page-title>h1 {
    font-size: 3.2em;
    line-height: 1;
    padding-left: 10px;
}

.hero-hr {
    margin-top: 20px;
}

.hero-desc {
    padding: 0 25px;
    min-height: 140px;
    display: flex;
    align-items: center;
}

.hero-desc>p {
    padding: 20px 10px 30px 10px;
    font-weight: 300;
    font-size: 1.2em;
    color: #fff;
}

/* ABOUT */
.about {
    display: block;
}

.about-grid {
    display: flex;
    flex-wrap: wrap;
}

.desc-para {
    margin: 0 auto;
}

.desc-para>p {
    margin: 20px 15px;
    line-height: 22px;
}

.testimonials {
    background-color: #ff6666;
    color: #fff;
}

.testimonials-container {
    padding: 30px 0;
}

.testimonial-para {
    font-style: italic;
    margin: 30px 10px;
    font-size: 1.4em;
    font-weight: 300;
}

.testimonial-name {
    font-weight: bold;
}

.about-img {
    display: block;
    width: 100%;
    background-size: cover;
}

.hidden {
    display: none;
}

/* PROJECTS */
.projects-container {
    padding: 30px 0 0 0;
}

.project-grid-container {
    padding-top: 5px;
}

.project-grid {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.list-item {
    width: 100%;
    padding: 0 10px 15px 10px;
}

.list-item>img {
    width: 100%;
    margin-bottom: 10px;
}

/* BLOG */
article {
    width: 100%;
    padding: 0 10px 10px 10px;
    color: #596475;
}

article>p,h1 {
    font-size: 1em;
    margin: 0;
}

article>p {
    font-weight: 400;
}

article>time {
    display: block;
    margin: 10px 0;
    font-style: italic;
}

article>img {
    width: 100%;
    padding-bottom: 15px;
}

button {
    padding: 3px 15px;
    background-color: white;
    color: #ff6666;
    border: 3px solid #ff6666;
    margin: 15px 0;
    font-weight: bold;
    font-size: 16px;
}

.article-grid {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 600px) {
    /* HEADER */
    .menu {
        display: none;
    }
    
    .big-menu {
        display: flex;
        align-items: center;
    }

    /* ABOUT */
    .hidden {
        display: block;
    }

    .about-grid>div {
        width: 50%;
    }

    .about-grid>img {
        width: 50%;
    }

    .desc-para {
        max-width: 480px;
        padding: 20px 15px;
    }

    .testimonials-container {
        padding: 30px 15px;
    }

    /* PROJECTS */
    .list-item {
        width: 50%;
    }

    .project-grid>li:nth-of-type(odd) {
        padding-right: 10px;
    }

    /* ARTICLE */
    article {
        width: 50%;
    }
    
    article>img {
        width: 100%;
    }
}