/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0 15px;
}

ul {
    list-style-type: none;
}

.section {
    display: flex;
}

.hr {
    height: 10px;
    width: 90%;
    margin: 8px auto;
    background-color: #ff6666;
}

.white {
    background-color: #fff;
}

/*  NAVS   */
/* header */
.header {
    margin: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 110px;
    height: 50px;
}

.menu {
    width: 25px;
}

/* footer */
.footer {
    height: 361px;
    background-color: #596475; 
    justify-content: center;
}
.footer-logo {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.footer-list {
    list-style-type: none;
}

.footer-list>li {
    margin: 15px 0;
    text-align: center;
}

/* HERO */
.hero {
    background-color: #596475;
}

.hero-image {
    height: 450px;
    background-image: url(images/triangle-house/square-versions/Triangle-1.jpg);
    background-size: cover;
}

.page-title {
    position: relative;
    top: 325px;
}

.hero-desc>p {
    margin: 20px 15px 30px 15px;
}

/* ABOUT */
.about {
    display: block;
}

.desc-para>p {
    margin: 20px 15px;
}

.testimonials {
    height: 400px;
    background-color: #ff6666;
}

.testimonials-container {
    position: relative;
    top: 25px;
}

/* PROJECTS */
.projects {
    height: 400px;
    background-color: #300983;
}

/* BLOG */
.blog {
    height: 200px;
    background-color: #713987;
}