/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif
}

body p {
    font-weight: 300;
    font-size: 1.2em;
}

body li {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, time {
    margin: 0 10px 0 10px;
}

ul {
    list-style-type: none;
}

.section {
    display: flex;
}

.hr {
    height: 10px;
    width: 95%;
    margin: 0px auto;
    margin-bottom: 15px;
    background-color: #ff6666;
}

.hr-white {
    background-color: #fff;
}

.white {
    color: #FFFFFF;
}

.grey {
    color: #596475;
}

.coral {
    color: #ff6666;
}

/*  NAVS   */
/* header */
.header {
    margin: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 110px;
    height: 50px;
}

.menu {
    width: 25px;
}

/* footer */
.footer {
    height: 361px;
    background-color: #596475; 
    justify-content: center;
}
.footer-logo {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.footer-list {
    list-style-type: none;
}

.footer-list>li {
    margin: 15px 0;
    text-align: center;
}

/* HERO */
.hero {
    background-color: #596475;
}

.hero-image {
    height: 450px;
    background-image: url(images/homepage-generic/Homepage-banner-square.jpg);
    background-size: cover;
}

.page-title {
    position: relative;
    top: 220px;
}

.page-title>h1 {
    font-size: 3.2em;
    line-height: 1;
}

.hero-hr {
    margin-top: 20px;
}

.hero-desc>p {
    margin: 20px 15px 30px 15px;
    color: #fff;
}

/* ABOUT */
.about {
    display: block;
}

.desc-para>p {
    margin: 20px 15px;
}

.testimonials {
    height: 370px;
    background-color: #ff6666;
    color: #fff;
}

.testimonials-container {
    position: relative;
    top: 30px;
}

.testimonials-container>p {
    margin: 30px 10px;
}

.testimonial-para {
    font-style: italic;
}

.testimonial-name {
    font-weight: bold;
}

/* PROJECTS */
.projects {
    background-color: #833009;
}

.list-item {
    height: 420px;
}

.list-item>img {
    width: 370px;
    margin-bottom: 10px;
}

/* BLOG */
article {
    margin: 15px 0;
    color: #596475;
}

article>time {
    display: block;
    margin: 10px 10px;
    font-style: italic;
}

article>img {
    width: 370px;
    margin-bottom: 10px;
}

button {
    padding: 3px 15px;
    background-color: white;
    color: #ff6666;
    border: 3px solid #ff6666;
    margin: 15px 5px;
    font-weight: bold;
    font-size: 16px;
}